<div class="container">
    
  
    <%= article.content %> 

    <h3>Comentarios:</h3>
    <ul>
        <% for(const comment of article.comments){ %>
            <li> <p><%= comment.content %> </p></li>
            <%= comment.author %>
        <% } %>
    </ul>

    <div class="mb-3">
        <h4>Add your comment</h4>
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Name">
      </div>
      <div class="mb-3">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <div class="d-grid gap-2">
            <button class="btn btn-primary mt-4" type="button">Send</button>
        </div>
      </div>
</div>

   
