<footer class="container mt-4">
  <a class="btn icons btn-outline-dark btn-floating" class="text-black" role="button"
    ><i class="fa-brands fa-twitter"></i
  ></a>

  <a class="btn icons btn-outline-dark btn-floating" class="text-black" role="button"
    ><i class="fa-brands fa-github"></i
  ></a>

  <a class="btn icons btn-outline-dark btn-floating" class="text-black" role="button"
    ><i class="fa-brands fa-facebook"></i
  ></a>

  <div class="footerFirstCol">
    <a href="#" class="copyright">Copyright © Hack Analytics 2022</a>
  </div>
</footer>
