<footer class="container mt-4 text-center">
    <a class="btn icons btn-outline-dark btn-floating" href="https://twitter.com/home" class="text-black" role="button"
      ><i class="fa-brands fa-twitter"></i
    ></a>
  
    <a class="btn icons btn-outline-dark btn-floating" href="https://github.com" class="text-black" role="button"
      ><i class="fa-brands fa-github"></i
    ></a>
  
    <a class="btn icons btn-outline-dark btn-floating" href="https://www.facebook.com" class="text-black" role="button"
      ><i class="fa-brands fa-facebook"></i
    ></a>
  
    <div class="footerFirstCol">
      <a href="#" class="copyright">Copyright © Hack Analytics 2022</a>
    </div>
  </footer>
  