    <!-- HERO PART -->
    
    <div id="hero">
        <img src= "../../img/libro2.jpg" alt="" class="hero-img img-fluid" />
        <div class="centrado">
            <h3 class="ha-the-blog-detail"><%= article.title %></h3>
            <p class="blog-ha-detail">Creado por <%= article.author%> el <%=article.createdAt%> </p>
        </div>

    </div>




    