    <!-- HERO PART -->
    
    <div id="hero">
        <img src="/public/img/libroHERO.jpg" alt="" class="hero-img img-fluid" />
        <div class="centrado">
            <h3 class="ha-the-blog-content"><%= article.title %></h3>
            <p class="blog-ha-content">Creado por <%= article.author%> el <%=article.createdAt%> </p>
        </div>

    </div>
    <div class="container">
        <div class="mb-3">
            <h4>Add your comment</h4>
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Name">
          </div>
          <div class="mb-3">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <div class="d-grid gap-2">
                <button class="btn btn-primary mt-4" type="button">Send</button>
            </div>
          </div>
    </div>


    


