<!-- HERO PART -->
<div id="hero">
    <img src="./public/img/libroHERO.jpg" alt="" class="hero-img img-fluid" />
    <div class="centrado">
        <h1 class="ha-the-blog">Hack the blog</h1>
        <p class="blog-ha">El Blog de Hack Academy</p>
    </div>
</div>