body {
  background-color: rgba(248, 248, 223, 0.993)55, 255, 255;
}

.ha-analytics {
    color: rgb(255, 255, 255);
  
  }
    #hero {
      background-image: url("../img/libro2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .centrado {
 
    
    animation-name: heroOnloadAnimation;
    animation-duration: 5s;
    animation-iteration-count: unset;
  }
  

  @keyframes heroOnloadAnimation {

    0% {
      transform: translateY(-5%);
    
    }
    100% {
      transform: translateY(0%);
    
    }
  }
  
  
  .hero-img {
    width: 100%;
    height: 90vh;
  }
  
  /*Textos HERO*/
  
  .ha-the-blog {
    font-size: 6rem;
    color:#ececef
  }
  
  .blog-ha {
    font-size: 2rem;
    color: #b69b06
  }
  
  .copyright {
    text-decoration: none;
    color: #76757d;
  
  }
  .grey-background {
    background-color:rgb(253, 252, 210);
  }

  th {
    font-size: 25px;
  }

  h1{
    font-weight: 800;
    color:aquamarine;

  }
  .container-detail {
    padding-left: 18%;
    padding-right: 18%;
  }

  .login {
    padding-left: 18%;
    padding-right: 18%;
  }


  .home-container{
    width: 50%;
    font-size: 0,8 rem;
  }
 #btn-editar{
  margin-bottom: 6px;
 }

 .ha-the-blog-content {
  font-family: Open Sans;
  font-size: 3.5rem;
  color: rgb(235, 246, 233);
 }

 .blog-ha-content {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  font-size: 2rem;
  color: #b69b06;
  
  }

  .ha-the-blog-detail{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
  font-size: 3.0rem;
  color: rgb(235, 246, 233);
  }
 
  .blog-ha-detail {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 1.2rem;
  color: #b69b06;
  }
 #adminbtn {
  background-color: #fff6c1;
  border: none;
 }

 #btn-send {
  background-color: #b69b06;
  border: none;
 }

 .contenido-oculto {
  visibility: hidden;
 }

 .article-content-size{
  margin:auto
 }

 #img-subida{
  max-width: 227px;
 }

 #new-btn{
  margin-right: 5px;
 }


